main {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    );
    grid-gap: 1rem;
  }
  body{
    padding: 4rem;
  }
  
  li , ol{
    list-style-type: none;
  }
  /* CATEGORY*/

  
  
  /*PRODUCT LIST*/
  .productlist main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    gap: 2rem;
  }
  
  
  
  /*PRODUCT*/
  img{
    max-width: 50%;
    border: solid black;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
